<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Weather Report Application</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
	    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="{{ url_for('weather_results') }}" method="post">
					<h3>Dashboard</h3>
					<p>Enter any zipcode in the United States and find whether you need an umbrella or not.</p>
					<label class="form-group">
						<input type="text" class="form-control" name="zipCode" required>
						<span>Zipcode</span>
						<span class="border"></span>
					</label>		
					<button>Submit 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body>
</html>